<div class="container mt-3" *ngIf="editDeviceFormGroup">
  <div class="col-md-6 offset-md-3">
    <div class="card">

      <div class="card-header" ><h5  class="text-sm-center" >Update Device</h5></div>
      <div class="card-body">
        <form [formGroup]="editDeviceFormGroup">
          {{editDeviceFormGroup.value|json}}
          <div class="form-group row">
            <label> Number IMEI</label>
            <input type="text" class="form-control"  formControlName="id">
          </div>

          <div class="form-group row">
            <label>Number SIM</label>
            <input type="tel" id="phone" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                   required  formControlName="numberOfPhone">
          </div>
          <div class="form-group row">
            <label>Type of Equipment </label>
            <input type="text" class="form-control"  formControlName="typeOfEquipment">
          </div>
          <div class="form-group row">
            <label>Module of Vehicle</label>
            <input type="email" class="form-control" formControlName="module">
          </div>
          <div class="form-group row">
            <label>Count Kilometers</label>
            <input type="email" class="form-control" formControlName="speed">
          </div>
          <div class="form-group">
            <label>Active</label>
            <input type="checkbox" formControlName="active" class="form-check">
          </div>
          <div class="card-footer" class="float-end">
            <button class="btn btn-success" (click)="onUpdateEdit()" >Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>



