
  <ng-container *ngIf="users$ | async as result" [ngSwitch]="result.dataState" >
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading ....
    </ng-container>

    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">{{result.errorMessage}}</div>
    </ng-container>

    <ng-container *ngSwitchCase="DataStateEnum.LOADED" style="display: contents">
      <table class="table table-hover table-striped table-bordered table-sm" >
        <thead>
        <tr>
          <th>Id account</th><th>Id user</th><th>Name user</th><th>Contact name</th><th>Email</th> <th>Phone number</th><th>Password</th><th>Active</th><th>Action</th>
        </tr>
        </thead>
        <tbody>
       <app-user-items [user]="u" [editUserFormGroup]="editUserFormGroup" [allIdAccount]="allIdAccount" (userEventEmitter)="onActionEvent($event)"  *ngFor="let u of result.data" style="display: contents">

       </app-user-items>
        <tbody>
      </table>
    </ng-container>

  </ng-container>
