
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button class="btn btn-outline-info ml-2" (click)="ongetAllUsers()">All</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ml-auto">
    <form class="form-inline" #f="ngForm" (ngSubmit)="onSearch(f.value)" (ngSubmit)="onSearchByNumber(f.value)" (ngSubmit)="onSearchByEmail(f.value)">
      <input ngModel name="keyword" class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" >Search</button>
    </form>
  </ul>

</nav>

<div class="container" *ngIf="users">
  <div class="container">
    <p>User Management </p>
  </div>
  <ng-container>
  <table class="table">
    <tr>
      <th>Id account</th><th>Id user</th><th>Name user</th><th>Contact name</th><th>Email</th> <th>Phone number</th><th>Password</th><th>Active</th><th>Action</th>
    </tr>
    <tr *ngFor="let u of users">
      <td>{{u.accounts.id}}</td>
      <td>{{u.id}}</td>
      <td>{{u.username}}</td>
      <td>{{u.contactName}}</td>
      <td>{{u.email}}</td>
      <td>{{u.numberOfPhone}}</td>
      <td>{{u.password}}</td>

      <td>
        <button (click)="onActive(u)" [ngClass]="u.active?'btn-success':'btn-danger'" class="btn btn-sm">
          <span *ngIf="u.active " class="fa fa-toggle-off" aria-hidden="true"></span>
          <span *ngIf="!u.active" class="fa fa-toggle-on" aria-hidden="true"></span>
        </button>
      </td>
      <td>
        <button  class="btn btn-danger" (click)="onDelete(u)" >
          <span class="fa fa-trash"></span>
        </button>
        <button class="btn btn-outline-info m-lg-2" (click)="onAdd(u)" >
          <span class="fa fa-plus"></span>
        </button>
        <button class="btn btn-warning " (click)="onWrite(u)" >
          <span class="fa fa-edit"></span>
        </button>

      </td>

    </tr>

  </table>
  </ng-container>
</div>
