<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <button mat-icon-button  routerLink="/dash/home" (click)="toggleSideBar()">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <span class="white">MYAutoCars</span>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item" >
        <a class="nav-link" routerLink="/dash/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dash/accounts"><span class="fa fa-user" aria-hidden="true"></span> Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dash/users"><span class="fa fa-user" aria-hidden="true"></span> Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dash/vehicles"><span class="fa fa-car" aria-hidden="true" ></span>Vehicles</a>
      </li>

    </ul>

    <ul class="nav navbar-nav ml-auto">
      <!-- <li  class="nav-item">
      <a class="nav-link">
      {{authenticationService.AuthenticationUser!.email}}
        </a>
      </li
        <li>
            <a class="btn nav-link" (click)="handleLout()">
            <i class="bi bi-box-arrow-down-right"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml">

          <li class="nav-item">
            <a class="nav-link" routerLink="/registration" ><span class="fa fa-user" aria-hidden="true"></span> Sign Up</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a>
          </li>
          -->
      <li>
        <a class="nav-link">
          {{authenticationService.AuthenticationUser!.email}}
        </a>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="white-icon">person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item   (click)="handleLout()">
            <mat-icon>login</mat-icon>
           Log out
          </button>
          <button mat-menu-item (click)="handleSign()">
            <mat-icon>logout</mat-icon>
            Sign in
          </button>
        </mat-menu>
      </li>
    </ul>

  </div>
</nav>

