<div class="container mt-3" *ngIf="deviceFormGroup">
  <div class="col-md-6 offset-md-3">
    <div class="card">

      <div class="card-header" ><h5  class="text-sm-center" >New user</h5></div>
      <div class="card-body">
        <form [formGroup]="deviceFormGroup">
          {{deviceFormGroup.value|json}}
          <div class="form-group row">
            <label>Number IMEI</label>
            <input type="text" class="form-control"  formControlName="username">
          </div>
          <div class="form-group row">
            <label>Number SIM</label>
            <input type="text" class="form-control"  formControlName="contactName">
          </div>
          <div class="form-group row">
            <label>Type of equipment</label>
            <input type="email" class="form-control" formControlName="typeOfEquipment">
          </div>
          <div class="form-group row">
            <label>Vehicle module</label>
            <input type="txt" id="txt" class="form-control"
                   formControlName="module">
          </div>
          <div class="form-group row">
            <label>mileage counter </label>
            <input type="password" class="form-control" formControlName="speed">
          </div>
          <div class="form-group">
            <label>Active</label>
            <input type="checkbox" formControlName="active" class="form-check">
          </div>
          <div class="card-footer" class="float-end">
            <button class="btn btn-success" (click)="onSaveDevice()" >Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

