<div class="container mt-3" *ngIf="userFormGroup">
  <div class="col-md-6 offset-md-3">
    <div class="card">

      <div class="card-header" ><h5  class="text-sm-center" >New user</h5></div>
      <div class="card-body">
   <form [formGroup]="userFormGroup">
     {{userFormGroup.value|json}}
     <div class="form-group row">
       <label>Id account</label>
       <select  class="form-select" aria-label="Default select example" formControlName="accounts" (click)="getAllIdAccount()">
         <option  [ngValue]="null" disabled >Open this select menu</option>
         <option *ngFor="let accounts of allIdAccount" [ngValue]="accounts">{{accounts.id}}</option>
       </select>
     </div>
     <div class="form-group row">
       <label>Username</label>
       <input type="text" class="form-control"  formControlName="username">
     </div>
     <div class="form-group row">
       <label>Contact name</label>
       <input type="text" class="form-control"  formControlName="contactName">
     </div>
     <div class="form-group row">
       <label>Email</label>
       <input type="email" class="form-control" formControlName="email">
     </div>
     <div class="form-group row">
       <label>Phone number</label>
       <input type="tel" id="phone" class="form-control"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              required  formControlName="numberOfPhone">
     </div>
     <div class="form-group row">
       <label>Password</label>
       <input type="password" class="form-control" formControlName="password">
     </div>
     <div class="form-group">
       <label>Active</label>
       <input type="checkbox" formControlName="active" class="form-check">
     </div>
     <div class="card-footer" class="float-end">
       <button class="btn btn-success" (click)="onSaveUser()" >Save</button>
     </div>
   </form>
      </div>
    </div>
  </div>

</div>
